.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px 15px;
  background-color: var(--bgColorContainer);
  box-shadow: var(--boxShadow);
  border-radius: 4px;
}
